git+https://github.com/pyrogram/pyrogram
TgCrypto==1.2.2
git+https://github.com/pytgcalls/pytgcalls
python-dotenv==0.17.0
youtube_dl==2021.4.1
youtube-search-python==1.4.3
OpenCC
Pillow==8.2.0
requests
youtube-search==2.1.0
aiohttp
aiofiles
wget
python-arq
gTTS
pyaml
python-mpv
