git+https://github.com/pyrogram/pyrogram
TgCrypto
git+https://github.com/pytgcalls/pytgcalls
python-dotenv
youtube_dl
youtube-search-python
OpenCC
Pillow
requests
youtube-search
aiohttp
asyncio
search_engine_parser
ffmpeg
aiofiles
wget
python-arq
