git+https://github.com/pyrogram/pyrogram
TgCrypto==1.2.2
git+https://github.com/pytgcalls/pytgcalls
python-dotenv
youtube_dl==2021.4.1
youtube_search_python
OpenCC
Pillow
requests
youtube_search
aiohttp
aiofiles
wget
python-arq
gTTS
pyaml
python-mpv
